<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css'}" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js'}"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <title>Person</title>
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col sm-6">
            <h6 th:text="${person.getId()}"></h6>
            <h6 th:text="${person.getFullName()}"></h6>
            <h6 th:text="${person.getAge()}"></h6>
            <h6 th:text="${person.getEmail()}"></h6>
            <h6 th:text="${person.getAddress()}"></h6>
          <div th:if="${books.isEmpty()}">
              <h6>Человек пока не взял ни одной книги</h6>
          </div>
            <div th:if="${!books.isEmpty()}">
                <h6>Книги:</h6>
                <table th:each="book :${books}">
                    <tr th:text="${book.getTitle()+', '+book.getAuthor()+', '+book.getYear()}"></tr>
                </table>
                <hr/>
            </div>
        </div>
    </div>
    <form th:method="delete" th:action="@{'/people/'+${person.getId()}}">
        <button class="btn btn-danger">Delete</button>
    </form>
    <form th:action="@{'/people/'+${person.getId()}+'/edit'}" th:method="get">
        <button class="btn btn-info">Edit</button>
    </form>
</div>
</body>
</html>
