<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css'}" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js'}"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <title>New person</title>
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col sm-6 offset-3">
            <form th:method="post" th:action="@{'/people'}" th:object="${person}">
                <div class="form-group">
                    <label for="FullName">FullName:</label>
                    <input type="text" id="FullName" th:field="*{fullName}" class="form-control">
                    <div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" style="color:red">
                        FullName error
                    </div>
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="text" th:field="*{age}" id="age" class="form-control">
                    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color:red">
                        Age error
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" th:field="*{email}" id="email" class="form-control">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red">
                        Email error
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" th:field="*{address}" id="address" class="form-control mb-2">
                    <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color:red">
                        Address error
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Create!</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
